<h1>All users</h1>

<ul class="pagination">
  <li class="page active">
    <a href="javascript:void(0)">1</a>
  </li>

  <li class="page">
    <a rel="next" href="/users?page=2">2</a>
  </li>

  <li class="page">
    <a href="/users?page=3">3</a>
  </li>

  <li class="page">
    <a href="/users?page=4">4</a>
  </li>

  <li class="page">
    <a href="/users?page=5">5</a>
  </li>

  <li class="page gap disabled"><a href="javascript:void(0)">…</a></li>

  <li class="next">
    <a rel="next" href="/users?page=2">Next ›</a>
  </li>

  <li class="last">
    <a href="/users?page=56">Last »</a>
  </li>
</ul>

<ul class="users">
  <li>
    <img alt="Abc" class="gravatar" src="https://secure.gravatar.com/avatar/59b3234941691668aa090dc648ff88ee?s=50" />
    <a href="/users/268">Abc</a>
    | <a data-confirm="You sure?" rel="nofollow" data-method="delete" href="/users/268">delete</a>
  </li>
  <li>
    <img alt="Abc" class="gravatar" src="https://secure.gravatar.com/avatar/cdf12a8e871311acf6cebe13acb5948b?s=50" />
    <a href="/users/269">Abc</a>
    | <a data-confirm="You sure?" rel="nofollow" data-method="delete" href="/users/269">delete</a>
  </li>
  <li>
    <img alt="Lol" class="gravatar" src="https://secure.gravatar.com/avatar/b7fda7bb2324aaa937bae57c02b7b7e6?s=50" />
    <a href="/users/281">Lol</a>
    | <a data-confirm="You sure?" rel="nofollow" data-method="delete" href="/users/281">delete</a>
  </li>
  <li>
    <img
      alt="Tinisha Dickinson PhD"
      class="gravatar"
      src="https://secure.gravatar.com/avatar/3cd98f56e3a0822a762c9a4b85fd5685?s=50"
    />
    <a href="/users/6">Tinisha Dickinson PhD</a>
    | <a data-confirm="You sure?" rel="nofollow" data-method="delete" href="/users/6">delete</a>
  </li>
  <li>
    <img
      alt="Wilhemina Schneider"
      class="gravatar"
      src="https://secure.gravatar.com/avatar/4556918922ee2836241af45928ab0618?s=50"
    />
    <a href="/users/7">Wilhemina Schneider</a>
    | <a data-confirm="You sure?" rel="nofollow" data-method="delete" href="/users/7">delete</a>
  </li>
</ul>

<ul class="pagination">
  <li class="page active">
    <a href="javascript:void(0)">1</a>
  </li>

  <li class="page">
    <a rel="next" href="/users?page=2">2</a>
  </li>

  <li class="page">
    <a href="/users?page=3">3</a>
  </li>

  <li class="page">
    <a href="/users?page=4">4</a>
  </li>

  <li class="page">
    <a href="/users?page=5">5</a>
  </li>

  <li class="page gap disabled"><a href="javascript:void(0)">…</a></li>

  <li class="next">
    <a rel="next" href="/users?page=2">Next ›</a>
  </li>

  <li class="last">
    <a href="/users?page=56">Last »</a>
  </li>
</ul>
