<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <form action="/users" accept-charset="UTF-8" method="post">
      <input
        type="hidden"
        name="authenticity_token"
        value="ySxu0SfUW9Bh0hTOEiv9UH_Yp5DekgJyLKVviwkecKpWlmqSnxQ05lIz8k3Yqf7CjsV0c10nIxqXo6GQiyiy4A"
      />

      <label for="user_name">Name</label>
      <input class="form-control" type="text" name="user[name]" id="user_name" />

      <label for="user_email">Email</label>
      <input class="form-control" type="email" name="user[email]" id="user_email" />

      <label for="user_password">Password</label>
      <input class="form-control" type="password" name="user[password]" id="user_password" />

      <label for="user_password_confirmation">Confirmation</label>
      <input class="form-control" type="password" name="user[password_confirmation]" id="user_password_confirmation" />

      <input
        type="submit"
        name="commit"
        value="Create my account"
        class="btn btn-primary"
        data-disable-with="Create my account"
      />
    </form>
  </div>
</div>
