<div class="row">
  <aside class="col-md-4">
    <section>
      <h1>
        <img
          alt="Tinisha Dickinson PhD"
          class="gravatar"
          src="https://secure.gravatar.com/avatar/3cd98f56e3a0822a762c9a4b85fd5685?s=80"
        />
        Tinisha Dickinson PhD
      </h1>
    </section>
    <section class="stats">
      <div class="stats">
        <a href="/users/6/following">
          <strong id="following" class="stat"> 1 </strong>
          following
        </a>
        <a href="/users/6/followers">
          <strong id="followers" class="stat"> 4 </strong>
          followers
        </a>
      </div>
    </section>
  </aside>
  <div class="col-md-8">
    <div id="follow_form">
      <form action="/relationships/120" accept-charset="UTF-8" method="post">
        <input type="hidden" name="_method" value="delete" /><input
          type="hidden"
          name="authenticity_token"
          value="IRSkBDwsGjuSfFoVUnr164Imf0SjP2s2t4XoZ6EB4839Mt3twu0S31n5RG8uLclhG4AhFm_nXSeJFH2dCTrnUA"
        />
        <input type="submit" name="commit" value="Unfollow" class="btn" data-disable-with="Unfollow" />
      </form>
    </div>

    <h3>Microposts (50)</h3>
    <ol class="microposts">
      <li id="micropost-300">
        <a href="/users/6"
          ><img
            alt="Tinisha Dickinson PhD"
            class="gravatar"
            src="https://secure.gravatar.com/avatar/3cd98f56e3a0822a762c9a4b85fd5685?s=50"
        /></a>
        <span class="user"><a href="/users/6">Tinisha Dickinson PhD</a></span>
        <span class="content"> Veniam tempora delectus pariatur nulla. </span>
        <span class="timestamp"> Posted almost 2 years ago. </span>
      </li>
      <li id="micropost-294">
        <a href="/users/6"
          ><img
            alt="Tinisha Dickinson PhD"
            class="gravatar"
            src="https://secure.gravatar.com/avatar/3cd98f56e3a0822a762c9a4b85fd5685?s=50"
        /></a>
        <span class="user"><a href="/users/6">Tinisha Dickinson PhD</a></span>
        <span class="content"> Sunt aut dicta quis rem. </span>
        <span class="timestamp"> Posted almost 2 years ago. </span>
      </li>
      <li id="micropost-288">
        <a href="/users/6"
          ><img
            alt="Tinisha Dickinson PhD"
            class="gravatar"
            src="https://secure.gravatar.com/avatar/3cd98f56e3a0822a762c9a4b85fd5685?s=50"
        /></a>
        <span class="user"><a href="/users/6">Tinisha Dickinson PhD</a></span>
        <span class="content"> Consequatur ut in omnis iure. </span>
        <span class="timestamp"> Posted almost 2 years ago. </span>
      </li>
      <li id="micropost-282">
        <a href="/users/6"
          ><img
            alt="Tinisha Dickinson PhD"
            class="gravatar"
            src="https://secure.gravatar.com/avatar/3cd98f56e3a0822a762c9a4b85fd5685?s=50"
        /></a>
        <span class="user"><a href="/users/6">Tinisha Dickinson PhD</a></span>
        <span class="content"> Deserunt nulla rerum ratione sed. </span>
        <span class="timestamp"> Posted almost 2 years ago. </span>
      </li>
      <li id="micropost-276">
        <a href="/users/6"
          ><img
            alt="Tinisha Dickinson PhD"
            class="gravatar"
            src="https://secure.gravatar.com/avatar/3cd98f56e3a0822a762c9a4b85fd5685?s=50"
        /></a>
        <span class="user"><a href="/users/6">Tinisha Dickinson PhD</a></span>
        <span class="content"> Odit nam eos esse illum. </span>
        <span class="timestamp"> Posted almost 2 years ago. </span>
      </li>
    </ol>
    <ul class="pagination">
      <li class="page active">
        <a href="javascript:void(0)">1</a>
      </li>

      <li class="page">
        <a rel="next" href="/users/6?page=2">2</a>
      </li>

      <li class="page">
        <a href="/users/6?page=3">3</a>
      </li>

      <li class="page">
        <a href="/users/6?page=4">4</a>
      </li>

      <li class="page">
        <a href="/users/6?page=5">5</a>
      </li>

      <li class="page gap disabled"><a href="javascript:void(0)">…</a></li>

      <li class="next">
        <a rel="next" href="/users/6?page=2">Next ›</a>
      </li>

      <li class="last">
        <a href="/users/6?page=10">Last »</a>
      </li>
    </ul>
  </div>
</div>
