<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <img
        alt="Example User"
        class="gravatar"
        src="https://secure.gravatar.com/avatar/bebfcf57d6d8277d806a9ef3385c078d?s=80"
      />
      <h1>Example User</h1>
      <span><a href="/users/1">view my profile</a></span>
      <span><b>Microposts:</b> 70</span>
    </section>
    <section class="stats">
      <div class="stats">
        <a href="/users/1/following">
          <strong id="following" class="stat"> 46 </strong>
          following
        </a>
        <a href="/users/1/followers">
          <strong id="followers" class="stat"> 36 </strong>
          followers
        </a>
      </div>

      <div class="user_avatars">
        <a href="/users/6"
          ><img
            alt="Tinisha Dickinson PhD"
            class="gravatar"
            src="https://secure.gravatar.com/avatar/3cd98f56e3a0822a762c9a4b85fd5685?s=30"
        /></a>
        <a href="/users/8"
          ><img
            alt="Miss Kenton Hauck"
            class="gravatar"
            src="https://secure.gravatar.com/avatar/6b86329f0eabfdc26948d0c4ab7a5e36?s=30"
        /></a>
        <a href="/users/9"
          ><img
            alt="Teodoro Balistreri"
            class="gravatar"
            src="https://secure.gravatar.com/avatar/fb766491c658ffaf308836aab77a874f?s=30"
        /></a>
        <a href="/users/10"
          ><img
            alt="Clark Hilll"
            class="gravatar"
            src="https://secure.gravatar.com/avatar/e7bd8c88299e730792bda440e23722a9?s=30"
        /></a>
        <a href="/users/11"
          ><img
            alt="Crystle Beahan"
            class="gravatar"
            src="https://secure.gravatar.com/avatar/8ddeccab0489f1746d43dc0e6ed659d4?s=30"
        /></a>
      </div>
    </section>
  </aside>
  <div class="col-md-8">
    <h3>Following</h3>
    <ul class="users follow">
      <li>
        <img
          alt="Tinisha Dickinson PhD"
          class="gravatar"
          src="https://secure.gravatar.com/avatar/3cd98f56e3a0822a762c9a4b85fd5685?s=50"
        />
        <a href="/users/6">Tinisha Dickinson PhD</a>
        | <a data-confirm="You sure?" rel="nofollow" data-method="delete" href="/users/6">delete</a>
      </li>
      <li>
        <img
          alt="Miss Kenton Hauck"
          class="gravatar"
          src="https://secure.gravatar.com/avatar/6b86329f0eabfdc26948d0c4ab7a5e36?s=50"
        />
        <a href="/users/8">Miss Kenton Hauck</a>
        | <a data-confirm="You sure?" rel="nofollow" data-method="delete" href="/users/8">delete</a>
      </li>
      <li>
        <img
          alt="Teodoro Balistreri"
          class="gravatar"
          src="https://secure.gravatar.com/avatar/fb766491c658ffaf308836aab77a874f?s=50"
        />
        <a href="/users/9">Teodoro Balistreri</a>
        | <a data-confirm="You sure?" rel="nofollow" data-method="delete" href="/users/9">delete</a>
      </li>
      <li>
        <img
          alt="Clark Hilll"
          class="gravatar"
          src="https://secure.gravatar.com/avatar/e7bd8c88299e730792bda440e23722a9?s=50"
        />
        <a href="/users/10">Clark Hilll</a>
        | <a data-confirm="You sure?" rel="nofollow" data-method="delete" href="/users/10">delete</a>
      </li>
      <li>
        <img
          alt="Crystle Beahan"
          class="gravatar"
          src="https://secure.gravatar.com/avatar/8ddeccab0489f1746d43dc0e6ed659d4?s=50"
        />
        <a href="/users/11">Crystle Beahan</a>
        | <a data-confirm="You sure?" rel="nofollow" data-method="delete" href="/users/11">delete</a>
      </li>
    </ul>
    <ul class="pagination">
      <li class="page active">
        <a href="javascript:void(0)">1</a>
      </li>

      <li class="page">
        <a rel="next" href="/users/1/following?page=2">2</a>
      </li>

      <li class="page">
        <a href="/users/1/following?page=3">3</a>
      </li>

      <li class="page">
        <a href="/users/1/following?page=4">4</a>
      </li>

      <li class="page">
        <a href="/users/1/following?page=5">5</a>
      </li>

      <li class="page gap disabled"><a href="javascript:void(0)">…</a></li>

      <li class="next">
        <a rel="next" href="/users/1/following?page=2">Next ›</a>
      </li>

      <li class="last">
        <a href="/users/1/following?page=10">Last »</a>
      </li>
    </ul>
  </div>
</div>
