<div class="row">
  <aside class="col-md-4">
    <section>
      <h1>
        <img
          alt="Example User"
          class="gravatar"
          src="https://secure.gravatar.com/avatar/bebfcf57d6d8277d806a9ef3385c078d?s=80"
        />
        Example User
      </h1>
    </section>
    <section class="stats">
      <div class="stats">
        <a href="/users/1/following">
          <strong id="following" class="stat"> 46 </strong>
          following
        </a>
        <a href="/users/1/followers">
          <strong id="followers" class="stat"> 36 </strong>
          followers
        </a>
      </div>
    </section>
  </aside>
  <div class="col-md-8">
    <h3>Microposts (70)</h3>
    <ol class="microposts">
      <li id="micropost-487">
        <a href="/users/1"
          ><img
            alt="Example User"
            class="gravatar"
            src="https://secure.gravatar.com/avatar/bebfcf57d6d8277d806a9ef3385c078d?s=50"
        /></a>
        <span class="user"><a href="/users/1">Example User</a></span>
        <span class="content"> sd </span>
        <span class="timestamp">
          Posted 25 days ago.
          <a data-confirm="You sure?" rel="nofollow" data-method="delete" href="/microposts/487">delete</a>
        </span>
      </li>
      <li id="micropost-452">
        <a href="/users/1"
          ><img
            alt="Example User"
            class="gravatar"
            src="https://secure.gravatar.com/avatar/bebfcf57d6d8277d806a9ef3385c078d?s=50"
        /></a>
        <span class="user"><a href="/users/1">Example User</a></span>
        <span class="content"> sadsad </span>
        <span class="timestamp">
          Posted 4 months ago.
          <a data-confirm="You sure?" rel="nofollow" data-method="delete" href="/microposts/452">delete</a>
        </span>
      </li>
      <li id="micropost-451">
        <a href="/users/1"
          ><img
            alt="Example User"
            class="gravatar"
            src="https://secure.gravatar.com/avatar/bebfcf57d6d8277d806a9ef3385c078d?s=50"
        /></a>
        <span class="user"><a href="/users/1">Example User</a></span>
        <span class="content"> sdsad </span>
        <span class="timestamp">
          Posted 4 months ago.
          <a data-confirm="You sure?" rel="nofollow" data-method="delete" href="/microposts/451">delete</a>
        </span>
      </li>
      <li id="micropost-450">
        <a href="/users/1"
          ><img
            alt="Example User"
            class="gravatar"
            src="https://secure.gravatar.com/avatar/bebfcf57d6d8277d806a9ef3385c078d?s=50"
        /></a>
        <span class="user"><a href="/users/1">Example User</a></span>
        <span class="content"> sadsadsad </span>
        <span class="timestamp">
          Posted 4 months ago.
          <a data-confirm="You sure?" rel="nofollow" data-method="delete" href="/microposts/450">delete</a>
        </span>
      </li>
      <li id="micropost-449">
        <a href="/users/1"
          ><img
            alt="Example User"
            class="gravatar"
            src="https://secure.gravatar.com/avatar/bebfcf57d6d8277d806a9ef3385c078d?s=50"
        /></a>
        <span class="user"><a href="/users/1">Example User</a></span>
        <span class="content"> dsf </span>
        <span class="timestamp">
          Posted 4 months ago.
          <a data-confirm="You sure?" rel="nofollow" data-method="delete" href="/microposts/449">delete</a>
        </span>
      </li>
    </ol>
    <ul class="pagination">
      <li class="page active">
        <a href="javascript:void(0)">1</a>
      </li>

      <li class="page">
        <a rel="next" href="/users/1?page=2">2</a>
      </li>

      <li class="page">
        <a href="/users/1?page=3">3</a>
      </li>

      <li class="page">
        <a href="/users/1?page=4">4</a>
      </li>

      <li class="page">
        <a href="/users/1?page=5">5</a>
      </li>

      <li class="page gap disabled"><a href="javascript:void(0)">…</a></li>

      <li class="next">
        <a rel="next" href="/users/1?page=2">Next ›</a>
      </li>

      <li class="last">
        <a href="/users/1?page=14">Last »</a>
      </li>
    </ul>
  </div>
</div>
